:root {
  --black: #0e0e0e;
  --white: #f4f1ec;
  --grey: #666;
  --grey-lt: #aaa;
  --border: rgba(244,241,236,.07);
  --border-md: rgba(244,241,236,.14);
  --accent: #c9a96e;
  --accent-dim: rgba(201,169,110,.11);
  --accent-dark: #a07840;
  --surface: #141414;
  --mid: #1c1c1c;
  --green: #7dbb8f;
  --font-display: "Bebas Neue", sans-serif;
  --font-body: "Epilogue", sans-serif;
  --font-mono: "DM Mono", monospace;
}
